#filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
}