@font-face {
	font-family: "liter";
	src: url(../assets/fonts/Liter-Regular.ttf);
}

body {
	background-color: rgb(50, 42, 42);
	margin: 0;
	font-family: "liter", sans-serif;
	scroll-behavior: smooth;
}

.divider {
	height: 6px;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 30px;
	width: 95%;
}

.divideImg {
	object-fit: cover;
	height: 200px;
	width: 95%;
	border-radius: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.45);
}

#selectionContentDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	color: white;
	margin-bottom: 30px;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	scroll-behavior: smooth;
}
#main {
	width: 100%;
	scroll-behavior: smooth;
}

#wrapper {
	width: 100%;
	display: flex;
	gap: 20px;
}

#cartBtnDiv {
	position: fixed;
	right: 5px;
	bottom: 5px;

	border-radius: 15px;
	opacity: 0.2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

#cartBtnDiv:hover {
	opacity: 1;
}

a {
	text-decoration: none;
}

#onTop {
	background-color: orangered;
	border-radius: 50%;
	border: none;
}
#onTopIcon {
	width: 60px;
	height: 60px;

	filter: invert(1);
	border-radius: 50%;
}
#onTopIcon:hover {
	scale: 1.1;
}
#onTopIcon:active {
	scale: 1;
}
#restBack {
	border-radius: 50%;
	border: none;
	margin-top: 3px;
	background-color: rgba(255, 69, 0, 0);
}
#backToRestau {
	width: 60px;
	height: 65px;
	border-radius: 50%;
}
#backToRestau:hover {
	scale: 1.1;
}
#backToRestau:active {
	scale: 1;
}

#BtnDivDnone {
	width: 100%;
}
.rund {
	border-radius: 50% !important;
}

@media (max-width: 1050px) {
	#wrapper {
		flex-direction: column;
		width: 100%;
	}
	#shoppingCartWrapper {
		flex-grow: 1;
		width: 100%;
		display: fixed;
		bottom: 0;
		left: 0;
		margin-bottom: 30px;
	}
	#shoppingCartContent {
		width: 100%;
		overflow: hidden;
	}
	#cartBtnDiv {
		position: fixed;
		right: 5px;
		top: 5px;
		bottom: 820px;

		border-radius: 15px;
		opacity: 0.2;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
}
