.show {
	width: 30vw;
	height: 100%;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	right: 15px;
	color: white;
	border: none;
}
#cartHeadline h2 {
	color: white;
}
.hide {
	display: none;
}

#shoppingCartContent {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	height: 100%;
	background-color: orangered;
	border: none;
	border: 2px solid white;
	width: 100%;
}

#shoppingCartContent h2 {
	text-align: center;
}

.mealCombined {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mealCombined span {
	margin: 0;
}

.mealCombined p {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#restaurantCartDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#cartItems {
	width: 100%;
}
#cartHeadline h2 {
	margin: 0;
}

.showInfo {
	display: flex;
}

.hideInfo {
	display: none;
}

.divideSmall {
	width: 100%;
	border-bottom: 1px solid grey;
	margin-top: 2px;
}

#deliveryCost {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.cost {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.showPrice {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
#finalPriceDiv {
	width: 100%;
}

#payBtn {
	padding: 20px 60px;
	background-color: rgb(114, 114, 205);
	border-radius: 8px;
	color: white;
	border: none;
	margin-bottom: 5px;
}

.continueBtn {
	padding: 20px 60px;
	background-color: rgb(114, 114, 205);
	border-radius: 8px;
	color: white;
	border: none;
	margin-bottom: 5px;
}

#plus {
	background-color: rgba(255, 69, 0, 0);
	border: none;
	color: white;
}

#plus:hover {
	scale: 1.5;
}

#plus:active {
	scale: 1;
}

#minus {
	background-color: rgba(255, 69, 0, 0);
	border: none;
	color: white;
}

#minus:hover {
	scale: 1.5;
}

#minus:active {
	scale: 1;
}

#shoppingCartWrapper {
	width: 30vw;
	background-color: rgba(255, 69, 0, 0);
}

.placeholder {
	text-align: center;
}

.restaurantCartDiv h3 {
	text-align: center;
}

.big {
	width: 100%;
	flex-grow: 1;
}

#itemCount {
	position: absolute;
	bottom: 53px;
	right: 25px;
	margin: 0;
	z-index: 1;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
}

@media (max-width: 1050px) {
	#payBtn {
		padding: 10px 30px;
		background-color: rgb(114, 114, 205);
		border-radius: 8px;
		color: white;
		border: none;
		margin-bottom: 5px;
	}

	.continueBtn {
		padding: 10px 30px;
		background-color: rgb(114, 114, 205);
		border-radius: 8px;
		color: white;
		border: none;
		margin-bottom: 5px;
	}

	#shoppingCartWrapper {
		flex-grow: 1;
		width: 99%;
		display: fixed;
		bottom: 0;
		left: 0;
		margin-bottom: 30px;
	}
	#itemCount {
		position: absolute;
		top: 50px;
		right: 25px;
		margin: 0;
		z-index: 1;
		color: white;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		bottom: 100px;
	}
}
